#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 80px 40px;
}

.table-and-filters {
  display: flex;
  justify-content: space-between;
}

.table-container {
  flex-grow: 2;
}

.filters {
  flex-grow: 1;
  max-width: 200px; 
  margin-left: 50px;
}

.filters_h {
  text-align: right;
  color: grey;
  margin-bottom: 10px;
}


.filters input {
  margin-bottom: 10px;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #228B22; 
  border: none;
  color: #fff;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: default;
}


.pagination p {
  margin: 0 10px;
}


.navbar {
  padding: 1px 30px;
  background-color: #FFE4C4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav_ul {
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 400; 
  transition: color 0.3s; 
}

.navbar a, .navbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; 
}

.navbar a:hover {
  color: #228B22;
}

.button-login {
  background-color: #006400; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button-login:hover {
  background-color: #228B22;
}




